@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    ViewBag.Title = "Friends of DT";
}


<h1>Recent News</h1>
<div class="article">
    <h2>DT Alumni Directory Under Development</h2>
    <p>
        Lorem ipsum dolor sit amet, dolor sagittis donec placerat at enim quis, nam integer sit, molestie nulla lorem dui porta. Eu at imperdiet, sodales pellentesque sed ipsum etiam vestibulum, sed sapien lectus et, lectus amet a. Vel tristique morbi elit eros primis, aliquam ipsum vehicula quam, mauris a. Tellus ligula vestibulum sollicitudin dictumst purus sem, enim mauris velit eu, cras fames proin ultricies, metus laoreet eu vestibulum ligula id sem, condimentum nec gravida. Ipsum vel, eu mattis nulla ac sed interdum, deleniti nullam lorem. Ut et, mollis pellentesque ante duis turpis, duis sem tellus sapien dolor, in est luctus at, lectus justo ultrices. Mi ipsum vestibulum blandit eros facere tellus, gravida faucibus erat ipsum vivamus, repellat non sed cum consequuntur habitant, malesuada mauris dolor eleifend quam ipsum, commodo ante semper porttitor lacus nibh sed. Ac pellentesque ultricies. Cursus facilisis ligula vehicula ante in ipsum. Dolor vestibulum eget non molestie, erat tristique duis velit wisi est, arcu pharetra dui amet turpis ante, suspendisse similique suspendisse augue, a facilisis neque.
    </p>
    <p>
        Erat justo wisi eros proin. Molestie lectus et urna lobortis suspendisse, quis consequat et augue, dui habitasse cras in luctus, sagittis augue vivamus. Quam pretium sed, et sapien tellus cras proin maecenas, suspendisse vestibulum pharetra eu, enim ac. Sed primis sapien pede felis erat, placerat at sed magnis scelerisque nec. Et ut blandit, pellentesque nascetur justo qui risus, libero eu vitae aliquam. Velit lobortis lacus curabitur at vitae leo. In nunc vel urna, at morbi enim, et ipsum eu amet mauris, porta mauris laoreet vestibulum, tincidunt leo in diam. Consectetuer nec ligula arcu dolor enim orci, mauris mauris porttitor id tortor duis non, condimentum lectus pretium, lorem tempus ligula cum. Pulvinar ac libero ac pharetra, sit tellus morbi. Sit id cras risus dui, proin aliquam id erat habitasse ante nonummy.
    </p>
    <hr />
</div>
<div class="article">
    <h2>Fundraisers In Full Swing</h2>
    <p>
        Augue ultricies mi tempor, donec integer diam id et wisi, fusce et vehicula amet, maecenas nulla est rutrum, mattis sed augue. Euismod luctus netus turpis urna fermentum id. Scelerisque parturient, nulla pulvinar habitasse mollis, integer viverra quis orci proin, ligula hendrerit lacus tellus vestibulum, volutpat eget. Rutrum leo, at hendrerit cursus suscipit luctus interdum sed, lacus convallis quisque velit massa sapien, consequatur lectus aliquam, rutrum ipsum. Molestie tellus, aliquet dolor condimentum nam vel, dolor ac. Commodo praesent, duis architecto, non mi pulvinar ligula. Nisl sollicitudin phasellus non, arcu sed sed ipsum diam ullamcorper, convallis amet sociis, phasellus fusce fermentum, inceptos interdum.
    </p>
    <p>
        Felis praesent quam luctus dolor id, lectus nullam pellentesque odio dolor duis. Et nulla possimus vel neque vulputate ut, ad a neque nonummy curabitur. Justo exercitation blanditiis ut ligula varius lacinia, tempor rutrum ac id cras cras non, lectus aliquet. Adipiscing ac a facilisis laoreet vulputate, eget maxime vel class. Aenean amet neque pellentesque, vitae at turpis felis bibendum, amet amet vehicula tellus interdum, nunc non, sed neque mattis feugiat. Sapien velit doloremque, sed lorem, nunc tempor. Leo vulputate amet eu bibendum amet.
    </p>
    <hr />
</div>