<div class="jumbotron" style="background-color:#b6b6f2;">
    <img src="~/Assets/img/dttitle.png" class="pull-right" style="margin-left: 10px;" />
    <p class="lead">
        Introducing the new <strong>Friends of DramaTech <i>Show Archive</i></strong>,
        previously known as "IMDT". Here you will find information on DramaTech
        going back to its beginnings in 1947.<br />
        <br />
        For information on what's currently going on at DT, check out <a href="http://dramatech.org" target="_blank">DramaTech's official site</a>.
    </p>
    <p>
        <strong>Technical Details:</strong>
        This site is <a href="https://github.com/jdaigle/friendsofdt">open source</a>, maintained by Joseph Daigle.
        The server-side component of the site is primarily ASP.NET MVC 5, and the site itself is hosted on Windows Azure.
    </p>
</div>

<div>
    <img src="~/Assets/img/slider/slider-fodt.jpg" style="width: 100%" />
</div>

<div class="jumbotron" style="background-color:#b6b6f2;">
    <img src="~/Assets/img/DT-WOB.png" class="pull-left" style="height: 175px; width: 256px; margin-right: 10px;" />
    <p class="lead">
        The Friends of DramaTech is a group of DramaTech alumni and friends who
        seek to support DramaTech through promoting attendance at performances,
        holding periodic fund-raising campaigns and long-range fundraising projects,
        maintaining long-term records of DramaTech activities; as well as
        developing a network of resources to provide assistance to DramaTech
        that may be requested by the club.
    </p>
</div>