[X] Display Person Page
[X] Person - Name
[ ] Person - Name Parts (Last, Middle, First)
[ ] Person - Name Display As?
[ ] Person - Alternate Name - lets people find you (such as nickname or maiden name)
[ ] Person - Biographical Data (render with markdown)
[X] Person - Club Positions List
[ ] Person - Club Positions Link to Club Year
[X] Person - Awards List
[X] Person - Awards Link to Show
[ ] Person - Awards Link to Award Year
[X] Person - Cast Positions List
[X] Person - Cast Positions Link to Show
[X] Person - Crew Positions List
[X] Person - Crew Positions Link to Show
[ ] Person - Picture Small
[ ] Person - Link to Associated Media
[X] Display Show Page
[X] Show - Name (with formatting)
[X] Show - Other Performances Links
[X] Show - Author
[X] Show - Quater/Semester
[X] Show - Year
[ ] Show - External Link to Pictures Library
[ ] Show - Fun Facts (render with Markdown)
[ ] Show - Where was the toaster? (render with Markdown)
[ ] Show - Picture (small)
[ ] Show - Link to Associated Media
[X] Show - Awards List
[X] Show - Awards Link to Person
[ ] Show - Awards Link to Award Year
[X] Show - Cast Positions List
[ ] Show - Cast Positions List Sorting (custom by show)
[X] Show - Cast Positions Link to Person
[X] Show - Crew Positions List
[ ] Show - Crew Positions List Sorting (default for position)
[ ] Show - Crew Positions List Sorting (custom by show)
[X] Show - Crew Positions Link to Person