form div.working {
	display: none;
	background: url('images/ajax-loader.gif')  no-repeat;
	padding-left: 24px;
}
form div.messages {
	display: none;
}
form {
	background: #EEE;
	border: 1px solid #DDD;
	padding: 10px;
}
form p {
	margin: 6px auto 24px auto;
}
form fieldset {
	padding-top: .1em;
}
form fieldset p {
	margin: 12px auto 12px auto;
}
form fieldset legend {
    font-weight: bold;
    font-size: 108%;
}
form p.instructions {
	color: #606060;
	font-style: italic;
}
form p label {
	font-weight: bold;
	float: left;
	height: 1.6em;
	width: 120px;
	text-align: right;
	margin-right: 20px;
	line-height: 1em;
}
form p input, form p span {
	display: inline-block;
	line-height: 1em;
}
input {
	border: 1px solid #D7B350;
}
form p input[type="text"], form p input[type="password"] {
	height: 1.6em;
}
input[type="submit"], input[type="button"], input[type="reset"] {
	font-weight: bold;
	padding: 3px;
}
form p input[type="submit"], form p input[type="button"], form p input[type="reset"] {
	vertical-align: middle;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
	background-color: #DDD;
	cursor: pointer;
}
form p .error {
	color: Red;
	font-weight: bold;
	margin-left: 4px;
	margin-right: 4px;
}