@{
    ViewBag.Title = "FoDT | Admin | Accounts";
    ViewBag.SubTitle = "Admin";
}

@section additionalHead {
<script type="text/javascript">
    $(function () {
        var paginatedTable = new fodt.paginatedTable($("#accountsTable"));
        paginatedTable.useConventions("@Url.Action(MVC.Accounts.ListAccounts())", "#accountTemplate");
    });
</script>
<script id="accountTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>{{=lastName}}, {{=firstName}}</td>
        <td>{{=emailAddress}}</td>
        <td>{{=registrationStatus}}</td>
        <td><a href="{{* result += fodt.buildUrl("/Admin/" + $view.data.id + "/Manage"); }}">Manage</a></td>
    </tr>
</script>
<style type="text/css">
    
</style>
}

@Html.Partial("AdminTabs", new { Section = "Accounts" }.ToExpando())

<table id="accountsTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Account</th>
            <th>Registration Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    <caption>
        <a href="#" class="page prev" title="Previous Page">‹</a>
        <span class="page-number"></span>
        <a href="#" class="page next" title="Next Page">›</a>
    </caption>
</table>