form div.working {
	display: none;
	background: url('images/ajax-loader.gif')  no-repeat;
	padding-left: 24px;
}
form div.messages {
	display: none;
}

form {
	background: #EEE;
	border: 1px solid #DDD;
	padding: 10px;
}
form p {
	margin: 6px auto 24px auto;
}
form p.instructions {
	color: #606060;
	font-style: italic;
}
form p label {
	font-weight: bold;
	float: left;
	display: block;
	height: 1.6em;
	width: 120px;
	margin-top: 2px;
	text-align: right;
	margin-right: 20px;
}
form p input {
	display: block;
	margin: 0 0 12px 0;
	border: 1px solid #D7B350;
}
form p input[type="text"], form p input[type="password"] {
	height: 1.6em;
}
form p input[type="submit"] {
	font-weight: bold;
	padding: 3px;
	vertical-align: middle;
}
form p input[type="submit"]:hover {
	background-color: #DDD;
	cursor: pointer;
}
