div.home {
	margin: 0px auto;
	background-image: url('images/layout/home-bg.jpg');
	background-repeat: repeat-x;
}
div.home div.head {
	background-image: url('images/layout/home-header.png');
	height: 434px;
	width: 1026px;
}
div.page {
	margin: 0px auto;
	background-image: url('images/layout/inside-bg.jpg');
	background-repeat: repeat-x;
}
div.page div.head {
	background-image: url('images/layout/inside-header.png');
	height: 220px;
	width: 1026px;
}

div.head {
	margin: 0px auto;
}

.page .head {
    position: relative;
}
.page .head div.title {
    color: #343498;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 4em;
    position: absolute;
    left: 40px;
    top: 130px;
}

div.head div.navigation {
	background-image: url('images/layout/logo.png');
	background-repeat: no-repeat;
	font-size: 1.25em;
	font-weight: bold;
	height: 100px;
}
div.head div.navigation ul {
	margin: 0px;
	padding-top: 50px;
	padding-right: 30px;
	text-align: right;
}
div.head div.navigation ul li {
	list-style: none;
	display: inline-block;
	margin-left: 50px;
}
div.head div.navigation ul li, div.head div.navigation ul a {
	color: #444;
	text-decoration: none;
}
div.head div.navigation ul li.active, div.head div.navigation ul li.active a {
	color: #007FC9;
}
div.head div.navigation ul li.active a {
	text-decoration: underline;
}
div.head div.navigation ul li:hover, div.head div.navigation ul li a:hover, div.head div.navigation ul li.active a:hover {
	color: #444589;
}
div.head div.navigation ul a:hover {
	text-decoration: underline;
}

div.body { 
	margin: 0px auto;
	width: 980px;
	padding: 0px 22px 0px 25px;
}

div.sidebar {
	float: right;
	margin-left: 20px;
	width: 280px;
}

div.sidebar ul {
	margin: 0px;
}

div.sidebar h1 {
	color: #0098f1;
	font-weight: bold;
	margin: 0px;
	font-size: 1.25em;
}

div.sidebar p, div.sidebar a {
	font-size: 1.1em;
}

div.sidebar>ul>li {
	list-style: none;
	background-color: #f2f2f2;
	margin-bottom: 20px;
	padding: 15px;
	border: 2px solid white;
	-moz-box-shadow: 0px 0px 7px #ccc;
	-webkit-box-shadow: 0px 0px 7px #ccc;
	box-shadow: 0px 0px 7px #ccc;
}

div.sidebar>ul>li.icon {
	background-position: 15px center;
	padding-left: 93px;
}

div.sidebar ul.links { margin: 0px; }
div.sidebar ul.links li {
	list-style: none;
}

div.sidebar ul.icon-list li {
	display: inline-block;
}
div.sidebar ul.icon-list li a {
	display: block;
	height: 63px;
	width: 63px;
}

.content {
	margin-bottom: 20px;
}

.home .content {
	width: 670px;
}

.content h1 {
	font-size: 1.625em;
	color: #0098f1;
	font-weight: bold;
}

.content h2 {
	font-size: 1.375em;
	color: #444589;
	font-weight: bold;
}

.content p {
	color: #444;
}

.content .article hr {
	color: #eee;
	height: 1px;
}

div.foot {
	clear: both;
	height: 75px;
	background-color: #f3f16b;
	
	border-top: 2px solid white;
	-moz-box-shadow: 0px 0px 7px #ccc;
	-webkit-box-shadow: 0px 0px 7px #ccc;
	box-shadow: 0px 0px 7px #ccc;
}

/* icons */
.icon.rss {
	background-image: url('images/rss-icon.gif');
	background-repeat: no-repeat;
}
.icon.fb {
	background-image: url('images/fb-icon.gif');
	background-repeat: no-repeat;
}
.icon.twitter {
	background-image: url('images/twitter-icon.gif');
	background-repeat: no-repeat;
}