table.paginated {
	width: 100%;
	caption-side: bottom;
}
table.paginated > caption {
	text-align: right;
	padding: 1em;
	font-size: .9em;
}
table.paginated > caption * {
	vertical-align: middle;
}
table.paginated > caption .page {
	text-decoration: none;
	display: inline-block;
	width: 1.5em;
	line-height: 2em;
	text-align: center;
	color: #999;
	font-weight: bold;
	background-color: #EEE;
	border: 1px solid #CCC;
}
table.paginated > caption a.page:hover {
	background-color: #CCC;
}
