<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <customErrors mode="RemoteOnly"
                  xdt:Transform="Replace"/>
    <trace enabled="false"
           xdt:Transform="Insert" />
    <compilation debug="false"
                 xdt:Transform="SetAttributes(debug)" />
  </system.web>
  <system.webServer>
    <httpErrors existingResponse="Replace"
                xdt:Transform="SetAttributes(existingResponse)" >
      <remove statusCode="500"
              xdt:Transform="Insert" />
      <error statusCode="500" path="/500.cshtml" responseMode="ExecuteURL"
             xdt:Transform="Insert" />
    </httpErrors>
  </system.webServer>
</configuration>