<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="fodt" applicationName="fodt"
              xdt:Transform="Replace" />
  </elmah>
  <system.web>
    <compilation debug="false"
                 xdt:Transform="SetAttributes(debug)" />
  </system.web>
</configuration>