<div class="navigation">
    <ul>
        <li class="active">// <a href="@Url.Action(MVC.Public.Index())" title="home">Home</a></li>
        <li>// <a href="@Url.Action(MVC.Accounts.Login())" title="sign in">Sign In</a></li>
        @*<li>// <a href="#">Active</a></li>
        <li>// <a href="#">About Us</a></li>*@
    </ul>
</div>