@{
    ViewBag.Title = "FoDT | Admin | Directory Profiles | New";
    ViewBag.SubTitle = "Admin";
}

@section additionalHead {
<script type="text/javascript">
    $(function () {
        var controller = new fodt.ajaxFormController($("#newProfileForm"));
        controller.onBefore = function (form) {
            $("#matches").hide();
        };
        controller.onSuccess = function (form, data) {
            $("#newProfile_ignoreMatches").val("false");
            if (data.errorCode == 0) {
                var messages = form.find("div.messages");
                messages.empty().html("success!");
                messages.show();
            } else if (data.errorCode == 2) {
                $("#matches").show();
                $("#matches>ul").html($("#matchTemplate").render(data.data));
            } else {
                var messages = form.find("div.messages");
                messages.empty().html(data.message);
                messages.show();
            }
        };

        $("#notAMatchButton").on("click", function (e) {
            e.preventDefault();
            $("#newProfile_ignoreMatches").val("true");
            $("#newProfileForm").submit();
        });
    });
</script>
<script id="matchTemplate" type="text/x-jquery-tmpl">
    <li>{{=lastName}}, {{=firstName}} ({{=emailAddress}})</li>
</script>
<style type="text/css">
</style>
}

@Html.Partial("AdminTabs", new { Section = "Directory Profiles" }.ToExpando())

<div class="newProfile">
    <form action="@Url.Action(MVC.Directory.RegisterNewProfile())" method="post" autocomplete="off" id="newProfileForm">
        <h1>New Directory Profile</h1>
        <fieldset>
            <legend>Required Directory Information</legend>
            <p>
                <label for="newProfile_firstName">First Name:</label>
                <input type="text" id="newProfile_firstName" name="firstName" placeholder="first name" data-validation-required="true" data-validation-required-message="name is required" />
            </p>
            <p>            
                <label for="newProfile_lastName">Last Name:</label>
                <input type="text" id="newProfile_lastName" name="lastName" placeholder="last name" data-validation-required="true" data-validation-required-message="name is required" />
            </p>
            <p> 
                <label for="newProfile_emailAddress">E-Mail Address:</label>
                <input type="text" id="newProfile_emailAddress" name="emailAddress" autocomplete="off" placeholder="e-mail address" data-validation-required="true" data-validation-required-message="e-mail is required" />            
            </p>
        </fieldset>
        <fieldset>
            <legend>Optional Directory Information</legend>
            <p>
                <label for="newProfile_phoneNumber">Phone Number:</label>
                <input type="text" id="newProfile_phoneNumber" name="phoneNumber" placeholder="phone number" />
            </p>
            <p> 
                <label for="newProfile_graduationYear">Graduation Year:</label>
                <input type="text" id="newProfile_graduationYear" name="graduationYear" placeholder="graduation year" />
            </p>
            <p> 
                <label for="newProfile_major">Major:</label>
                <input type="text" id="newProfile_major" name="major" placeholder="major" />
            </p>
        </fieldset>
        <p>
            @Html.Hidden("ignoreMatches", false, new { id = "newProfile_ignoreMatches" })
            <label></label>
            <input type="submit" value="Add Profile" />
        </p>
        <div id="matches" style="display: none;">
            <p class="instructions">The following profiles might match who you are trying to add.</p>
            <ul>
            </ul>
            <p>
                <label></label>
                <input type="button" id="notAMatchButton" value="This Really Is A New Profile" />
            </p>
        </div>
    </form>
</div>