@model FODT.Views.Admin.AdminTabsViewModel

<ul class="nav nav-tabs nav-tabs-admin">
    <li class=""><a href="@Model.UserAdminListURL">Users</a></li>
    <li class=""><a href="@Model.AwardsAdminURL">Awards</a></li>
</ul>
