@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

@section endOfHead {
    <style>
        .admin-action {
            text-align: center;
        }

            .admin-action:not(:last-child) {
                margin-bottom: 1em;
            }
    </style>
}

<div class="panel panel-default">
    <div class="panel-heading">Administrative Tasks</div>
    <div class="panel-body">
        <div class="admin-action">
            Add a <strong>Person</strong> to the database
            <button class="btn btn-primary" id="add-person-button">Add New Person</button>
        </div>
        <div class="admin-action">
            Add a <strong>Person</strong> to the database
            <button class="btn btn-primary">Add New Person</button>
        </div>
    </div>
</div>

@section endOfBody {
    <script>
        $(function () {
            $('#add-person-button').on('click', function (e) {
                e.preventDefault();
                var url = '@Url.Content("~/person/add")';
                $.get(url, function (html) {
                    $(html).modal();
                });
            });
        });
    </script>
}