@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Name</td>
            </tr>
        }
    </tbody>
</table>