<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
    <logger name="NHibernate">
      <level value="ERROR"/>
    </logger>
  </log4net>
  <appSettings file="App.Secret.config">
    <add key="azure-storage-account-name" value="friendsofdtprod" />
    <add key="azure-storage-blob-container" value="images" />
  </appSettings>
  <connectionStrings>
    <!--<add name="fodt" connectionString="Server=tcp:friendsofdt-prod.database.windows.net,1433;Database=fodt;User ID=fodtadmin@friendsofdt-prod;Password={your_password_here};Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
    <add name="fodt" connectionString="SERVER=localhost;DATABASE=fodt;TRUSTED_CONNECTION=true;" />
    <add name="old_fodt" connectionString="server=cridion.com;user id=reader;password=SECRET!;database=dramatech;" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
