<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="azure-storage-account-key" value="SECRET!" />
  <add key="db_fodt" value="SERVER=localhost;DATABASE=fodt;TRUSTED_CONNECTION=true;" />
  <add key="db_old_fodt" value="server=cridion.com;user id=reader;password=SECRET!;database=dramatech;" />
</appSettings>