<!DOCTYPE html>
<html>
<head>
    <title>_Layout</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
