@{
    ViewBag.Title = "FoDT Website Sign Up";
    ViewBag.SubTitle = "Sign Up";
    ViewBag.ActiveLink = ActiveLinks.SignIn;
}

@section additionalHead {
<script type="text/javascript">
    $(function () {
        var controller = new fodt.ajaxFormController($("#signUpForm"));
        controller.onSuccess = function (form, data) {
            if (data.errorCode == 0) {

            } else {
                var messages = form.find("div.messages");
                messages.empty().html(data.message);
                messages.show();
            }
        };
    });
</script>
}

<div class="signup">
    <form action="@Url.Action(MVC.Accounts.RegisterNewWebAccount())" method="post" autocomplete="off" id="signUpForm">
        <p>In order to sign up for an account on this website we need to verify your DramaTech alumni or faculty status. To be considered an DramaTech alumnus you must be a current or prior student of Georgia Tech and participated in at one DramaTech show or performance.</p>
        <fieldset>
            <p>
                <label for="signup_emailAddress">E-Mail Address:</label><input type="text" id="signup_emailAddress" name="emailAddress" autocomplete="off" />
            </p>
            <p>
                <label for="signup_firstName">First Name:</label><input type="text" id="signup_firstName" name="firstName" />
            </p>
            <p>
                <label for="signup_lastName">Last Name:</label><input type="text" id="signup_lastName" name="lastName" />
            </p>
            <p>
                <label for="signup_requestedPassword">Password:</label><input type="password" id="signup_requestedPassword" name="requestedPassword" autocomplete="off" />
            </p>
            <p>
                <label for="signup_confirmedPassword">Confirm Password:</label><input type="password" id="signup_confirmedPassword" name="confirmedPassword" autocomplete="off" />
            </p>
        </fieldset>
        <p>If you went by a different name at time you were a student, please provide that name below so we can more quickly verify your status.</p>
        <fieldset>
            <p>
                <label for="signup_altFirstName">First Name:</label><input type="text" id="signup_altFirstName" name="altFirstName" />
            </p>
            <p>
                <label for="signup_altLastName">Last Name:</label><input type="text" id="signup_altLastName" name="altLastName" />
            </p>
        </fieldset>
        <p>
            <input type="submit" value="Sign Up" />
        </p>
    </form>
</div>