div.head div.slideshow ul { 
	margin: 0px; 
    position: relative;
}

div.head div.slideshow ul li { 
	list-style: none;
	left: 26px;
	top: 0px;
}

div.head div.slideshow ul li img {
	height: 303px;
	width: 980px;
}