body, textarea {
    font-family: helvetica,arial,clean,sans-serif;
}

div.main {
    margin: 0px auto;
    background-image: url('../img/layout/inside-bg.jpg');
    background-repeat: repeat-x;
}

    div.main div.head {
        background-image: url('../img/layout/inside-header.png');
        height: 220px;
        width: 1026px;
    }

    div.main.home {
        margin: 0px auto;
        background-image: url('../img/layout/home-bg.jpg');
        background-repeat: repeat-x;
    }

        div.main.home div.head {
            background-image: url('../img/layout/home-header.png');
            height: 434px;
            width: 1026px;
        }

div.head {
    margin: 0px auto;
}

div.head {
    position: relative;
}

    div.head div.title {
        color: #343498;
        font-family: Arial Black;
        font-weight: bold;
        font-size: 3.5em;
        line-height: normal;
        position: absolute;
        left: 40px;
        top: 130px;
    }

    div.head div.navigation {
        background-image: url('../img/layout/logo.png');
        background-repeat: no-repeat;
        font-size: 1.15em;
        font-weight: bold;
        height: 100px;
    }

        div.head div.navigation ul {
            margin: 0px;
            padding-top: 50px;
            padding-right: 30px;
            text-align: right;
        }

            div.head div.navigation ul li {
                list-style: none;
                display: inline-block;
                margin-left: 40px;
            }

            div.head div.navigation ul li, div.head div.navigation ul a {
                color: #444;
                text-decoration: none;
            }

                div.head div.navigation ul li.active, div.head div.navigation ul li.active a {
                    color: #007FC9;
                }

                    div.head div.navigation ul li.active a {
                        text-decoration: underline;
                    }

                        div.head div.navigation ul li:hover, div.head div.navigation ul li a:hover, div.head div.navigation ul li.active a:hover {
                            color: #444589;
                        }

                div.head div.navigation ul a:hover {
                    text-decoration: underline;
                }

div.body {
}

div.sidebar {
}

    div.sidebar ul {
        margin: 0px;
    }

    div.sidebar h1 {
        color: #0098f1;
        font-weight: bold;
        margin: 0px;
        font-size: 1.2em;
    }

    div.sidebar p, div.sidebar a {
    }

    div.sidebar > ul > li {
        list-style: none;
        background-color: #f2f2f2;
        margin-bottom: 20px;
        padding: 15px;
        border: 2px solid white;
        -moz-box-shadow: 0px 0px 7px #ccc;
        -webkit-box-shadow: 0px 0px 7px #ccc;
        box-shadow: 0px 0px 7px #ccc;
    }

        div.sidebar > ul > li.icon {
            background-position: 15px center;
            padding-left: 93px;
        }

    div.sidebar ul.links {
        margin: 0px;
    }

        div.sidebar ul.links li {
            list-style: none;
        }

    div.sidebar ul.list-icon li {
        display: inline-block;
    }

        div.sidebar ul.list-icon li a {
            display: block;
            height: 63px;
            width: 63px;
        }



.content {
    margin-bottom: 20px;
}

    .content h1 {
        font-size: 1.625em;
        color: #0098f1;
        font-weight: bold;
    }

    .content h2 {
        font-size: 1.375em;
        color: #444589;
        font-weight: bold;
    }

    .content p {
        color: #444;
    }

/*div.content li {
    list-style: none;
    background: url('../img/bulletRelatedLinks.gif') 0px 9px no-repeat;
    padding: 0 0 0 18px;
    line-height: 24px;
}*/

.content .article hr {
    color: #eee;
    height: 1px;
}

div.foot {
    clear: both;
    height: 75px;
    background-color: #f3f16b;
    border-top: 2px solid white;
    -moz-box-shadow: 0px 0px 7px #ccc;
    -webkit-box-shadow: 0px 0px 7px #ccc;
    box-shadow: 0px 0px 7px #ccc;
}

/* icons */
.icon.rss {
    background-image: url('../img/rss-icon.gif');
    background-repeat: no-repeat;
}

.icon.fb {
    background-image: url('../img/fb-icon.gif');
    background-repeat: no-repeat;
}

.icon.twitter {
    background-image: url('../img/twitter-icon.gif');
    background-repeat: no-repeat;
}

.gray {
    color: Gray;
}

/* Subheader and Tabs */
.subheader {
    border-bottom: 1px solid #666;
    height: 34px;
    margin-bottom: 15px;
}

    .subheader h1, .subheader h2 {
        float: left;
        font-size: 170%;
        line-height: 34px;
        margin: 0px;
    }

    .subheader a {
        color: black;
    }


.sign-in-facebook {
    background-image: url('../img/facebook_signin.png');
    background-repeat: no-repeat;
    display: block;
    width: 150px;
    height: 22px;
}

    .sign-in-facebook:hover {
        background-position: 0px -24px;
    }

    .sign-in-facebook:active {
        background-position: 0px -48px;
    }
